<template>
	<div class="overflow-x-auto w-full shadow">
		<table class="table w-full">
			<!-- head -->
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>MinValue</th>
				</tr>
			</thead>
			<tbody>
				<!-- row 1 -->
				<tr v-for="r in rules" :key="r.address">
					<td>
						<div class="flex items-center space-x-3">
							<div class="avatar">
								<div class="w-12 h-12 mask mask-squircle">
									<img :src="`https://services.tzkt.io/v1/avatars/${r.address}`" alt="Avatar Tailwind CSS Component" />
								</div>
							</div>
							<div>
								<div class="font-bold">{{ r.alias }}</div>
							</div>
						</div>
					</td>
					<td>
						{{ r.address }}
						<br />
						<span class="badge badge-ghost badge-sm">contract</span>
					</td>
					<td class="text-right">{{ r.min }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
export default {
    props: ['rules']
};
</script>

<style></style>
