<template>
	<div class="">
		<!-- 		<h1 class="text-2xl">Select users:</h1>
		<input type="text" v-model="searchUserInt" placeholder="Search" @input="searchUsers" class="input w-full max-w-sm" />
		<div class="grid grid-cols-2 h-[300px] overflow-hidden border">
			<ul class="space-y-3 overflow-y-scroll">
				<li v-for="i in sugUsers" :key="i.address" class="flex gap-3 hover:bg-green-200 cursor-pointer" @click="addUser(i)">
					<img class="h-12" :src="`https://services.tzkt.io/v1/avatars/${i.address}`" />
					<div>
						<p class="font-bold m-0 p-0">{{ i.alias }}</p>
						<span class="text-sm">{{ i.address }}</span>
					</div>
				</li>
			</ul>
			<ul class="space-y-3 overflow-y-scroll">
				<li v-for="i in selectedUsers" :key="i.address" class="flex gap-3 items-center">
					<img class="h-12" :src="`https://services.tzkt.io/v1/avatars/${i.address}`" />
					<div>
						<p class="font-bold m-0 p-0">{{ i.alias }}</p>
						<span class="text-sm">{{ i.address }}</span>
					</div>
					<button class="btn btn-sm btn-square ml-auto mr-2" @click="removeUser(i)">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</li>
			</ul>
		</div> -->

		<div class="text-center mb-6">
			<input type="text" v-model="searchInt" placeholder="Contract Address | Name" @input="search" class="input w-full max-w-sm shadow-xl" />
		</div>

		<div v-if="selected.length || sug.length" class="grid grid-cols-2 overflow-hidden border" :class="`h-[${sHeight}px]`">
			<ul class="space-y-3 overflow-y-scroll mx-3">
				<li v-for="i in sug" :key="i.address" class="flex gap-3 hover:bg-green-200 cursor-pointer" @click="add(i)">
					<img class="h-12 rounded-2xl shadow-md" :src="`https://services.tzkt.io/v1/avatars/${i.address}`" />
					<div>
						<p class="font-bold m-0 p-0">{{ i.alias }}</p>
						<span class="text-sm">{{ i.address }}</span>
					</div>
				</li>
			</ul>
			<ul class="space-y-3 overflow-y-scroll mx-3">
				<li v-for="i in selected" :key="i.address" class="flex gap-3 items-center">
					<img class="h-12 rounded-2xl shadow-md" :src="`https://services.tzkt.io/v1/avatars/${i.address}`" />
					<div>
						<p class="font-bold m-0 p-0">{{ i.alias }}</p>
						<span class="text-sm">{{ i.address }}</span>
						<input type="number" placeholder="Min" class="input input-bordered input-sm w-full max-w-xs" v-model.number="i.min" />
					</div>
					<button class="btn btn-sm btn-square ml-auto mr-2" @click="remove(i)">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import { validateAddress, validateContractAddress } from '@taquito/utils';

let axiosCors = axios.create({
  withCredentials: false
});

export default {
    props: {
        sHeight : {
            type: Number,
            default: 500
        },
        tokenRules : {
            type: Array,
            default: () => []
        }
    },
	data: function () {
		return {
			searchInt: '',
			sug: [],
			selected: [],

			searchUserInt: '',
			sugUsers: [],
			selectedUsers: []
		};
	},
    created(){
        this.selected = this.tokenRules; 
    },
	methods: {
		async search() {
            if(!this.searchInt.length){
                return;
            }
			let { data } = await axiosCors.get('https://api.tzkt.io/v1/suggest/accounts/' + this.searchInt);
			this.sug = data.filter(d => validateContractAddress(d.address) == 3);
			if (validateContractAddress(this.searchInt) == 3) {
				this.sug.unshift({
					address: this.searchInt,
				});
			}
		},
		add(i) {
			if (!this.selected.some(s => s.address == i.address)) {
				this.selected.push(i);
			}
		},
		remove(i) {
			this.selected = this.selected.filter(s => s.address != i.address);
		},

		async searchUsers() {
			let { data } = await axiosCors.get('https://api.tzkt.io/v1/suggest/accounts/' + this.searchUserInt);
			this.sugUsers = data.filter(d => validateAddress(d.address) == 3 && d.address.startsWith('tz'));
			if (validateAddress(this.searchUserInt) == 3 && this.searchUserInt.startsWith('tz')) {
				this.sugUsers.unshift({
					address: this.searchUserInt,
				});
			}
		},
		addUser(i) {
			if (!this.selectedUsers.some(s => s.address == i.address)) {
				this.selectedUsers.push(i);
			}
		},
		removeUser(i) {
			this.selectedUsers = this.selectedUsers.filter(s => s.address != i.address);
		},
	},
};
</script>

<style></style>
