<template>
	<div class="">
		<div class="flex gap-3 flex-wrap">
			<div v-for="i in rooms" :key="i._id">
				<RoomCard :room="i"></RoomCard>
				<label v-if="i.type == 'discord' && i.botInGroup"  class="badge badge-success w-full">✔️Bot on Server</label>
				<a v-else-if="i.type == 'discord'" target="_blank" class="btn btn-secondary btn-xs w-full" :href="`https://discord.com/oauth2/authorize?client_id=944718565007831110&permissions=1099511627779&scope=bot&guild_id=${i.serverId}&disable_guild_select=true`">Add Bot</a>
			</div>
			<div class="dropdown">
				<label tabindex="0" class="m-1 btn">ADD Room</label>
				<div tabindex="0" class="shadow dropdown-content">
					<RoomAddForm @addRoom="addRoom"></RoomAddForm>
				</div>
			</div>
		</div>
		<AccessRuleForm class="mt-4" v-if="rooms.length" :tokenRules="tokenRules" :sHeight="300"></AccessRuleForm>
	</div>
</template>

<script>
import AccessRuleForm from './AccessRuleForm.vue';
import RoomAddForm from './RoomAddForm.vue';
import RoomCard from '../components/RoomCard.vue';
import axios from 'axios';

export default {
	props: ['flow'],
	data: function () {
		return {
			rooms: [],
			tokenRules: [],
		};
	},
	created: async function () {
		this.flow.rooms = this.rooms;
		this.flow.tokenRules = this.tokenRules;
	},
	methods: {
		async addRoom(room) {
			if (!this.rooms.some(r => r._id == room._id)) {
				this.rooms.push(room);
			}
		},
	},
	components: { AccessRuleForm, RoomCard, RoomAddForm },
};
</script>

<style></style>
