<template>
	<div v-if="loaded" class="flex flex-col gap-2">
		<div class="flex gap-2 flex-wrap">
			<RoomCard v-for="r in flow.rooms" :key="r._id" :room="r"></RoomCard>
		</div>
		<AccessRulesView :rules="flow.rules"></AccessRulesView>
	</div>
</template>

<script>
import RoomCard from '../components/RoomCard.vue';
import AccessRulesView from './AccessRulesView.vue';
import axios from 'axios';
export default {
	props: ['flow'],
	data: function () {
		return {
			loaded: false,
		};
	},
	components: { RoomCard, AccessRulesView },
	created: async function () {
		let { data:r } = await axios.post('http://localhost:7000/getRooms', this.flow.roomIds);
		this.flow.rooms = r;

		let {data:tl} = await axios.get('http://localhost:7000/getAccessRules', { params: { id: this.flow.tokenRulesId} });
		this.flow.rules = tl.tokenLimits;

		this.loaded = true;
	},
};
</script>

<style></style>
