<template>
	<div class="mb-8">
		<h2 class="font-semibold text-3xl mb-4">{{ caste.name }} <button class="btn btn-xs  btn-accent align-middle" @click="copy">COPY Invite</button></h2>
		<div class="flex gap-2">
			<div class="flex-shrink-0 self-start shadow stats stats-vertical">
				<div class="stat">
					<div class="stat-figure text-secondary">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
							/>
						</svg>
					</div>
					<div class="stat-title">Interactions</div>
					<div class="stat-value">{{ caste.InteractionCount ?? 0 }}</div>
					<div class="stat-desc text-success-content">↗︎ 400 (22%)</div>
				</div>

				<div class="stat">
					<div class="stat-figure text-secondary">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
							/>
						</svg>
					</div>
					<div class="stat-title">Subcribers</div>
					<div class="stat-value">{{ caste.SubcriberCount ?? 0 }}</div>
					<div class="stat-desc text-success-content">↗︎ 90 (14%)</div>
				</div>

				<div class="stat">
					<div class="stat-figure text-secondary">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01"
							/>
						</svg>
					</div>
					<div class="stat-title">Restriction</div>
					<div class="stat-value">{{ caste.JoinCount ?? 0 }}</div>
					<div class="stat-desc text-error-content">↘︎ 90 (14%)</div>
				</div>
			</div>
			<div class="flex flex-col gap-2 min-w-0">
				<CasteFlowView v-for="(obj, i) in caste.flows" :key="i" :flow="obj"></CasteFlowView>
			</div>
		</div>
	</div>
</template>

<script>
import CasteFlowView from './CasteFlowView.vue';

export default {
	props: ['caste'],
	components: { CasteFlowView },
	created: async function () {},
	methods: {
		copy() {
			navigator.clipboard.writeText(`http://localhost:8080/Join/${this.caste._id}`);
		},
	},
};
</script>

<style></style>
