<template>
	<div class="flex flex-col bg-base-200 gap-2 p-2 rounded-sm shadow-sm w-60">
		<div class="flex gap-3 justify-center">
			<span
				><svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240 240">
					<defs>
						<linearGradient id="A" x1="160.01" x2="100.01" y1="40.008" y2="180" gradientUnits="userSpaceOnUse">
							<stop stop-color="#424d58" offset="0" />
							<stop stop-color="#272a2f" offset="1" />
						</linearGradient>
					</defs>
					<circle fill="url(#A)" r="120" cy="120" cx="120" />
					<path
						d="M49.942 118.96l80.81-33.295c7.977-3.468 35.03-14.566 35.03-14.566s12.486-4.855 11.445 6.936c-.347 4.855-3.12 21.85-5.896 40.23l-8.67 54.45s-.694 7.977-6.6 9.364-15.607-4.855-17.34-6.243c-1.387-1.04-26.012-16.647-35.03-24.277-2.428-2.08-5.202-6.243.347-11.098 12.486-11.445 27.4-25.665 36.416-34.682 4.162-4.162 8.324-13.873-9.017-2.08l-48.902 32.948s-5.55 3.468-15.954.347-22.543-7.283-22.543-7.283-8.324-5.202 5.896-10.75z"
						fill="#fff"
					/></svg
			></span>
			<input v-model="room.type" value="telegram" type="radio" name="radio-2" class="radio radio-primary" />
			<input v-model="room.type" value="discord" type="radio" name="radio-2" class="radio radio-primary" />
			<span
				><svg class="h-6 w-6" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px">
					<path
						d="M 41.625 10.769531 C 37.644531 7.566406 31.347656 7.023438 31.078125 7.003906 C 30.660156 6.96875 30.261719 7.203125 30.089844 7.589844 C 30.074219 7.613281 29.9375 7.929688 29.785156 8.421875 C 32.417969 8.867188 35.652344 9.761719 38.578125 11.578125 C 39.046875 11.867188 39.191406 12.484375 38.902344 12.953125 C 38.710938 13.261719 38.386719 13.429688 38.050781 13.429688 C 37.871094 13.429688 37.6875 13.378906 37.523438 13.277344 C 32.492188 10.15625 26.210938 10 25 10 C 23.789063 10 17.503906 10.15625 12.476563 13.277344 C 12.007813 13.570313 11.390625 13.425781 11.101563 12.957031 C 10.808594 12.484375 10.953125 11.871094 11.421875 11.578125 C 14.347656 9.765625 17.582031 8.867188 20.214844 8.425781 C 20.0625 7.929688 19.925781 7.617188 19.914063 7.589844 C 19.738281 7.203125 19.34375 6.960938 18.921875 7.003906 C 18.652344 7.023438 12.355469 7.566406 8.320313 10.8125 C 6.214844 12.761719 2 24.152344 2 34 C 2 34.175781 2.046875 34.34375 2.132813 34.496094 C 5.039063 39.605469 12.972656 40.941406 14.78125 41 C 14.789063 41 14.800781 41 14.8125 41 C 15.132813 41 15.433594 40.847656 15.621094 40.589844 L 17.449219 38.074219 C 12.515625 36.800781 9.996094 34.636719 9.851563 34.507813 C 9.4375 34.144531 9.398438 33.511719 9.765625 33.097656 C 10.128906 32.683594 10.761719 32.644531 11.175781 33.007813 C 11.234375 33.0625 15.875 37 25 37 C 34.140625 37 38.78125 33.046875 38.828125 33.007813 C 39.242188 32.648438 39.871094 32.683594 40.238281 33.101563 C 40.601563 33.515625 40.5625 34.144531 40.148438 34.507813 C 40.003906 34.636719 37.484375 36.800781 32.550781 38.074219 L 34.378906 40.589844 C 34.566406 40.847656 34.867188 41 35.1875 41 C 35.199219 41 35.210938 41 35.21875 41 C 37.027344 40.941406 44.960938 39.605469 47.867188 34.496094 C 47.953125 34.34375 48 34.175781 48 34 C 48 24.152344 43.785156 12.761719 41.625 10.769531 Z M 18.5 30 C 16.566406 30 15 28.210938 15 26 C 15 23.789063 16.566406 22 18.5 22 C 20.433594 22 22 23.789063 22 26 C 22 28.210938 20.433594 30 18.5 30 Z M 31.5 30 C 29.566406 30 28 28.210938 28 26 C 28 23.789063 29.566406 22 31.5 22 C 33.433594 22 35 23.789063 35 26 C 35 28.210938 33.433594 30 31.5 30 Z"
					/></svg
			></span>
		</div>
		<div v-if="isDiscord">
            <input v-model="room.name" type="text" placeholder="name" class="input input-bordered input-xs w-full max-w-xs" />
			<label class="text-sm">Server ID</label>
			<input v-model="room.serverId" type="text" placeholder="ServerID" class="input input-bordered input-primary input-sm w-full max-w-xs" />
        </div>
		<div v-else>
			<input v-model="room.name" type="text" placeholder="name" class="input input-bordered input-xs w-full max-w-xs" />
			<label class="text-sm">Channel ID</label>
			<input v-model="room.channelId" type="text" placeholder="ChannelID" class="input input-bordered input-primary input-sm w-full max-w-xs" />
			<label class="text-sm">Admin ID</label>
			<input v-model="room.adminId" type="text" placeholder="adminID" class="input input-bordered input-primary input-sm w-full max-w-xs" />
		</div>
		<button class="btn btn-sm" :disabled="disable" @click="addRoom">add</button>
		<div class="divider my-0">OR</div>
		<div class="form-control">
			<div class="input-group">
				<select class="select select-bordered" v-model="prepareRoomSelected">
					<option v-for="pr in prepareRooms" :key="pr._id" :value="pr">{{ pr.name }}</option>
				</select>
				<button class="btn" @click="addPrepareRoom">+</button>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	computed: {
		disable() {
            if(this.isDiscord){
                let res = (this.room.name?.length && this.room.serverId?.length) ?? 0;
                return res == 0;
            }
			let res = (this.room.name?.length && this.room?.channelId?.length && this.room?.adminId?.length) ?? 0;
			return res == 0;
		},
        isDiscord(){
            return this.room.type == 'discord';
        }
	},
	data: function () {
		return {
			room: {
				name: '',
				channelId: '',
				adminId: '',
				serverId: '',
				type: 'discord',
			},
			prepareRooms: [],
			prepareRoomSelected: '',
		};
	},
	created: async function () {
		let { data } = await axios.get('http://localhost:7000/getAllRooms');
		this.prepareRooms = data;
	},
	methods: {
		async addRoom() {
			let { data: roomId } = await axios.post('http://localhost:7000/addRoom', this.room);
			this.$emit('addRoom', { ...this.room, _id: roomId });
			this.room = { type: 'discord' };
		},
		addPrepareRoom() {
			this.$emit('addRoom', this.prepareRoomSelected);
		},
	},
};
</script>

<style></style>
