<template>
	<div v-if="isLoaded" class="text-left">
		<div v-for="(f, index) in caste.flows" :key="index" class="flex flex-col mb-4">
			<div class="flex gap-3">
				<div v-for="r in f.rooms" :key="r._id">
					<RoomCard :room="r"></RoomCard>
					<div class="text-center space-x-1">
						<span class="badge gap-2 opacity-10">pass 💰</span>
						<span class="badge gap-2" :class="[isJoined(r)?'badge-success':'badge-error']">⚓ {{isJoined(r)?'joined':'not joined'}}</span>
					</div>
				</div>
			</div>
			<details>
				<summary class="cursor-pointer">Show token rules</summary>
				<p>More info about the details.</p>
			</details>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import RoomCard from '../components/RoomCard.vue';
import CasteFlowView from '../views/CasteFlowView.vue';
import SubscribeView from '../views/SubscribeView.vue';

export default {
	props: ['caste', 'userRoomPasses'],
    computed: {
		isJoined: function(){
			return room => this.userRoomPasses.find(p => p.roomId == room._id)?.isJoined ?? 'false'
		}
    },
	data: function () {
		return {
			isLoaded: false,
		};
	},
	created: async function () {
		let roomIds = this.caste.flows.flatMap(f => f.roomIds);
		let { data: rooms } = await axios.post('http://localhost:7000/getRooms', roomIds);
		this.caste.flows.forEach(f => {
			f.rooms = rooms.filter(r => f.roomIds.includes(r._id));
		});
		this.isLoaded = true;
	},
	components: { RoomCard, CasteFlowView, SubscribeView },
};
</script>

<style></style>
