<template>
	<div class="hello">
		<button @click="connectWallet">Connect</button>
		<button @click="signMessage" class="bg-purple-500 p-1 px-3 text-white rounded-lg">Sign</button>
		<p>{{ signature }}</p>

		<a class="btn">Hello!</a>
		<input type="checkbox" class="checkbox" />
		<input type="checkbox" class="toggle" />
		<div class="alert alert-success">Message sent successfully</div>
    
	</div>
</template>

<script>
export default {
	name: 'HelloWorld',
	props: {
		msg: String,
	},
	data: function () {
		return { signature: '' };
	},
	methods: {
		async connectWallet() {
			try {
				console.log('Requesting permissions...');
				const permissions = await wallet.client.requestPermissions();
				console.log('Got permissions:', permissions.address);
			} catch (error) {
				console.log('Got error:', error);
			}
		},
		async signMessage() {
			const response = await wallet.client.requestSignPayload({
				signingType: SigningType.RAW,
				payload: 'any string that will be signed',
			});

			this.signature = response.signature;
			console.log(`Signature:`, response);
		},
	},
};

import { TezosToolkit } from '@taquito/taquito';
import { BeaconWallet } from '@taquito/beacon-wallet';
import { SigningType } from '@airgap/beacon-sdk';

const Tezos = new TezosToolkit('https://mainnet-tezos.giganode.io');
const wallet = new BeaconWallet({ name: 'Beacon Docs Taquito' });
Tezos.setWalletProvider(wallet);
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
