<template>
	<div class="text-left bg-base-100 p-2 flex flex-col rounded-lg shadow-lg">
		<p class="font-bold">
			{{ room.name }} <span class="badge badge-sm align-text-bottom">{{ room.type }}</span>
		</p>
		<div v-if="room.type != 'discord'">
			<span>📢 {{ room.channelId }}</span><br>
			<span>🤴 {{ room.adminId }}</span>
		</div>
		<div v-else>
			<span>🏭 {{ room.serverId }}</span>
		</div>
	</div>
</template>

<script>
export default {
	props: ['room'],
};
</script>

<style></style>
