<template>
	<div class="">
		<div v-if="isLogin" class="dropdown dropdown-end">
			<label tabindex="0" class="btn btn-sm">{{ auth.user.address }} ▽</label>
			<ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
				<li><a @click="logout">Logout</a></li>
			</ul>
		</div>
		<button v-else class="btn btn-sm" @click="login">Login</button>
	</div>
</template>

<script>
import axios from 'axios';
import auth from '../data/auth';

export default {
	computed: {
		isLogin() {
			return this.auth.user != null;
		},
	},
	data: function () {
		return {
			auth: auth,
		};
	},
	created: async function () {},
	methods: {
		async logout() {
			await auth.logout();
		},
		async login() {
			let isWalletConnected = await auth.connectWallet();
            if(!isWalletConnected){
                alert('wallet connection error')
                return;
            }
            let sign = await auth.sign();
            if(!sign){
                await auth.logout();
                alert('sign error');
                return;
            }
            try{
                //await axios.post('http://127.0.0.1:7000/login', { signature: sign.signature, payload: sign.payload, pk: auth.user.publicKey });
                let {data} = await axios.post('http://localhost:7000/login', { signature: sign.signature, payload: sign.payload, pk: auth.user.publicKey }, { withCredentials: true });
                document.cookie = 'leeloo=' + data;
            }catch(error){
                await auth.logout();
                alert('problem with server');
            }
		},
	},
};
</script>

<style></style>
