<template>
	<div class="space-y-10">
		<div v-for="i in rules" :key="i._id">
			<div class="flex">
				<span class="text-gray-300">id: {{ i._id }}</span>
<!-- 				<div class="btn-group">
					<button class="btn btn-xs">Button</button>
					<button class="btn btn-xs">Button</button>
				</div> -->
			</div>
			<AccessRulesView :rules="i.tokenLimits"></AccessRulesView>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import AccessRulesView from '../views/AccessRulesView.vue';

export default {
	data: function () {
		return {
			rules: [],
		};
	},
	created: async function () {
		let { data } = await axios.get('http://127.0.0.1:7000/getAllAccessRules');
		this.rules = data;
	},
	components: { AccessRulesView },
};
</script>

<style></style>
