<template>
	<div>
		<div v-if="!isInit" class="overflow-x-auto">
			<table class="table table-compact w-full text-center">
				<thead>
					<tr>
						<th>TokenId</th>
						<th>Contract</th>
						<th></th>
						<th>Name</th>
						<th>balance</th>
						<th>Standart</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="i in balances" :key="`${i.tokenId}_${i.contract}`">
						<th class="max-w-[50px] overflow-hidden overflow-ellipsis">{{ i.tokenId }}</th>
						<td class="w-1 text-sm text-black text-opacity-50">{{ i.contract }}</td>
						<td><img class="h-9 w-9 mx-auto" :src="`https://services.tzkt.io/v1/avatars/${i.contract}`" /></td>
						<td class="max-w-[100px] overflow-hidden overflow-ellipsis">{{ i.name }}</td>
						<td>{{ i.balance }}</td>
						<td>
							<div class="badge badge-outline" :class="i.standard.startsWith('fa2') ? 'badge-primary' : 'badge-secondary'">{{ i.standard }}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<span v-if="isInit" class="btn loading">loading</span>
		<div v-if="!isInit && !balances.length" class="alert shadow-lg my-3">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<span>wallet empty</span>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import auth from '../data/auth';

import { tzktParser } from 'leeloo-share';

let axiosCors = axios.create({
	withCredentials: false,
});

export default {
	data: function () {
		return {
			balances: [],
			isInit: true
		};
	},
	created: async function () {
		// test
		if (this.$route.query.t) {
			let testQ = this.$route.query.t;
			let res = await axiosCors.get(`https://api.tzkt.io/v1/tokens/balances?account=${testQ}&limit=1000`);
			this.balances = tzktParser.tokenBalance(res.data);
			this.isInit = false;
			return;
		}

		let { data: {balances} } = await axios.get('http://localhost:7000/getUserBalance', { withCredentials: true });
		if (!balances) {
			let res = await axiosCors.get(`https://api.tzkt.io/v1/tokens/balances?account=${auth.user.address}`);
			balances = tzktParser.tokenBalance(res.data);
		}
		this.balances = balances;
		this.isInit = false;
	},
};
</script>

<style></style>
