<template>
	<div class="flex flex-col text-left gap-5">
		<div class="mx-auto text-center">
			<h1 class="text-2xl mb-3">Caste name</h1>
			<input v-model="casteName" type="text" placeholder="project-x" class="input input-bordered" />
		</div>

		<CastleFlowForm class="bg-base-200 shadow-md p-4 rounded-md" v-for="i in flows" :key="i.id" :flow="i"></CastleFlowForm>
		<div class="flex gap-6">
			<button class="btn btn-sm w-40" @click="addFlow">Add Flow</button>
			<button class="btn btn-sm btn-primary" @click="createCaste">Create Caste</button>
		</div>
	</div>
</template>

<script>
import CastleFlowForm from '../views/CastleFlowForm.vue';
import axios from 'axios';
export default {
	components: { CastleFlowForm },
	data: function () {
		return {
			casteName: '',
			flows: [],
		};
	},
	created: async function () {
		this.addFlow();
	},
	methods: {
		addFlow() {
			this.flows.push({ id: Date.now() });
		},
		async createCaste() {
            for(let i of this.flows){
                let { data } = await axios.post('http://localhost:7000/addAccessRules', i.tokenRules);
				i.tokenRulesId = data;
            }
			let caste = {
				name: this.casteName,
				flows: this.flows.map(i => {
					return {
						roomIds: i.rooms.map(r => r._id),
						tokenRulesId: i.tokenRulesId,
					};
				}),
			};
			await axios.post('http://localhost:7000/addCaste', caste);
		},
	},
};
</script>

<style></style>
