<template>
	<div class="flex flex-col gap-3">
        <CasteView v-for="i in castes" :key="i._id" :caste="i"></CasteView>
	</div>
</template>

<script>
import axios from 'axios';
import CasteView from '../views/CasteView.vue';

export default {
	data: function () {
		return {
			castes: [],
		};
	},
	created: async function () {
		let { data } = await axios.get('http://localhost:7000/getCastes');
		this.castes = data;
	},
	components: { CasteView },
};
</script>

<style></style>
