<template>
	<div class="space-y-8">
		<h1 class="text-2xl">Select tokens:</h1>
		<AccessRuleForm :tokenRules="tokenRules"></AccessRuleForm>
		<button class="btn block btn-primary mx-auto" @click="createRule">Create rule</button>
	</div>
</template>

<script>
import axios from 'axios';
import AccessRuleForm from '../views/AccessRuleForm.vue';

export default {
	data: function () {
		return {
			tokenRules: []
		};
	},
	methods: {
		async createRule() {
			await axios.post('http://127.0.0.1:7000/addAccessRules', this.tokenRules);
		},
	},
	components: {
		AccessRuleForm,
	},
};
</script>

<style></style>
