<template>
	<div>
		<h1 class="text-4xl font-bold mb-4">
			{{ caste.name }}
			<button class="align-middle btn btn-sm btn-secondary gap-2" :disabled="isSub" @click="subscribe">
				Subscribe
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
					/>
				</svg>
			</button>
		</h1>
		<div v-if="isSub" class="alert shadow-lg alert-success my-4">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
				</svg>
				<span>Subscribed!</span>
			</div>
		</div>
		<div class="flex flex-col gap-8">
			<CasteFlowView v-for="(obj, i) in caste.flows" :key="i" :flow="obj"></CasteFlowView>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import RoomCard from '../components/RoomCard.vue';
import CasteFlowView from '../views/CasteFlowView.vue';

export default {
	props: ['casteId'],
	data: function () {
		return {
			caste: [],
			isSub: false,
		};
	},
	methods: {
		async subscribe() {
			await axios.post('http://localhost:7000/subscribe', { casteId: this.casteId });
			this.isSub = true;
		},
	},
	created: async function () {
		await axios.get('http://localhost:7000/joinInteraction', { params: { id: this.casteId } });

		let { data: sub } = await axios.get('http://localhost:7000/isSubscriber', { params: { casteId: this.casteId } });
		this.isSub = sub;

		let { data } = await axios.get('http://localhost:7000/getCaste', { params: { id: this.casteId } });
		this.caste = data;
	},
	components: { RoomCard, CasteFlowView },
};
</script>

<style></style>
