<template>
	<div>
		<div class="overflow-x-auto">
			<table class="table table-compact w-full text-center">
				<thead>
					<tr>
						<th>Name</th>
						<th><span class="font-normal">📢</span> ChannelID</th>
						<th><span class="font-normal">🤴</span> AdminID</th>
						<th><span class="font-normal">🏭</span> ServerID</th>
						<th>Type</th>
						<th>BotInGroup</th>
						<th>checkInGroup</th>
						<th>checkIsAdmin</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="i in rooms" :key="i._id">
						<th>{{ i.name }}</th>
						<td>{{ i.channelId }}</td>
						<td>{{ i.adminId }}</td>
						<td>{{ i.serverId }}</td>
						<td><img class="h-8 w-8 mx-auto" :src="image(i.type)" /></td>
						<td>
							<label class="badge" :class="[i.botInGroup?'badge-success':'badge-error']">{{ i.botInGroup ? '✔️ Bot on Server': 'false' }}</label><br>
							<a v-if="i.type == 'discord' && !i.botInGroup" target="_blank" class="btn btn-xs btn-primary my-1" :href="`https://discord.com/oauth2/authorize?client_id=944718565007831110&permissions=1099511627779&scope=bot&guild_id=${i.serverId}&disable_guild_select=true`">Add Bot</a>
						</td>
						<td><label class="badge">{{ i.checkInGroup }}</label></td>
						<td><label class="badge">{{ i.checkIsAdmin }}</label></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	data: function () {
		return {
			rooms: [],
		};
	},
	created: async function () {
		let { data } = await axios.get('http://localhost:7000/getAllRooms');
		this.rooms = data;
	},
	methods: {
		image(type) {
			if (type == 'telegram') {
				return 'https://www.freepnglogos.com/uploads/telegram-logo-png-0.png';
			} else {
				return 'https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png';
			}
		},
	},
};
</script>

<style></style>
