<template>
	<div v-if="isInit">
        <div v-for="c in castes" :key="c._id">
            <h1 class="text-3xl font-bold">{{c.name}}</h1>
            <SubscribeView :caste="c" :userRoomPasses="userRoomPasses"></SubscribeView>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import RoomCard from '../components/RoomCard.vue';
import CasteFlowView from '../views/CasteFlowView.vue';
import SubscribeView from '../views/SubscribeView.vue';


export default {
	data: function () {
		return {
			castes: [],
			isSub: false,
            userRoomPasses: [],
			isInit: false
		};
	},
	created: async function () {
		let { data: subs } = await axios.get('http://localhost:7000/getSubsribes');
		let { data: castes } = await axios.post('http://localhost:7000/getCastes', subs);
		let { data:userRoomPasses} = await axios.get('http://localhost:7000/getUserRoomPasses');
		this.userRoomPasses = userRoomPasses ?? []

        this.castes = castes;

		this.isInit = true;
	},
	components: { RoomCard, CasteFlowView, SubscribeView },
};
</script>

<style></style>
